/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap"); */

* {
  font-style: arial;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgba(39, 18, 227, 0.04);
}
.main-container {
  height: 100vh;
}
.side-nav > ul > li {
  font-weight: 900;
  font-size: 1.1rem;
  list-style: none;
}
.sub-list {
  list-style: none;
  margin-left: 10px;
  font-size: 0.9rem;
}
.sidenav {
  background: -webkit-linear-gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  font-family: "Kufam", arial;
  animation-name: left-to-right;
  animation-duration: 1.5s;
  border: 0;
  border-radius: 2px;
}

textarea {
  resize: none !important;
}
.sidenav ul li {
  color: #d3d3d3;
  text-align: center;
  width: max-content;
  padding: 0 20px;
}
.sidenav ul li:hover {
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}
input,
textarea {
  padding: 2px;
  outline: none;
}
.upside-navigation {
  display: flex;
  justify-content: space-around;
  background: -webkit-linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  border: 0;
  border-radius: 2px;
}
.upside-navigation > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 2px dashed #0c5e51;
  padding: 10px;
  margin: 10px;
  font-weight: 900;
  font-size: 1.2rem;
  animation-name: zero-to-big;
  animation-duration: 1.5s;
  font-family: "Titillium Web", sans-serif;
}
@keyframes zero-to-big {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes left-to-right {
  from {
    margin-left: -200px;
  }
  to {
    margin-left: 0px;
  }
}

.special-id {
  display: none;
}

.curve-box {
  border-radius: 20px;
}
.blank-div {
  display: hidden;
}

.alert-success {
  animation-name: zero-to-big;
  animation-duration: 0.5s;
  animation-name: right-to-left;
}
.alert-danger {
  animation-name: zero-to-big;
  animation-duration: 0.5s;
}
.alert-warning {
  animation-name: zero-to-big;
  animation-duration: 0.5s;
}

@keyframes zero-to-big {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes right-to-left {
  from {
    margin-right: 50px;
  }
  to {
    margin-right: 0;
  }
}
.maindash-table-div {
  overflow-y: scroll;
  height: 440px;
}
.maindash-table > tbody > tr > :not(:first-child),
.maindash-table > thead > tr > th:not(:first-child) {
  padding-left: 17px;
  padding-right: 17px;
}

.search-filter-div {
  padding: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.view-div{
  background: #fff;
}